/*引入iconfont*/
/*
@import "//at.alicdn.com/t/font_2264842_b004iy0kk2b.css";
*/


@font-face {
    /* 为载入的字体取名字(随意) */
    font-family: 'pudding';
    /* 字体文件地址(相对或者绝对路径都可以) */
    src: url(https://cdn.drobot.online/font/pudding.ttf);
    /* 定义加粗样式(加粗多少) */
    font-weight: normal;
    /* 定义字体样式(斜体/非斜体) */
    font-style: normal;
    /* 定义显示样式 */
    font-display: block;
}

.artplayer-app{
    width: calc(100% + 3px);
    height: 400px;
    vertical-align:middle;
    padding-bottom: 50px;
}

.tagSSLink{
    width: calc(60% + 3px);
}

/*社交账号图标样式*/
svg.social_icon {
    width: 1.20em;
    height: 1.20em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

/*菜单栏图标样式*/
svg.menu_icon {
    width: 1.28em;
    height: 1.28em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

/* 翻页按钮居中 */
#pagination {
    width: 100%;
    margin: auto;
}

/* 一级菜单居中 */
#nav .menus_items {
    position: absolute !important;
    width: fit-content !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
}
/* 子菜单横向展示 */
#nav .menus_items .menus_item:hover .menus_item_child {
    display: flex !important;
}
/* 这里的2是代表导航栏的第2个元素，即有子菜单的元素，可以按自己需求修改 */
.menus_items .menus_item:nth-child(2) .menus_item_child {
    left: -125px;
}

/* 页脚与头图透明 */
#footer {
    background: transparent !important;
}
#page-header {
    background: transparent !important;
}

/* 白天模式遮罩透明 */
#footer::before {
    background: transparent !important;
}
#page-header::before {
    background: transparent !important;
}

/* 夜间模式遮罩透明 */
[data-theme="dark"] #footer::before {
    background: transparent !important;
}
[data-theme="dark"] #page-header::before {
    background: transparent !important;
}



.card-link,.card-link:hover {
    text-decoration:none;
    border:none!important;
    color:inherit!important
}
.card-link {
    position:relative;
    display:block;
    margin:1em auto;
    width:390px;
    box-sizing:border-box;
    border-radius:12px;
    max-width:100%;
    overflow:hidden;
    color:inherit;
    text-decoration:none
}
.ztext {
    word-break:break-word;
    line-height:1.6
}
.card-link-backdrop {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-image:url(/images/card-link-bg.jpg);
    background-repeat:no-repeat;
    -webkit-filter:blur(20px);
    filter:blur(20px);
    background-size:cover;
    background-position:center
}
.card-link,.card-link:hover {
    text-decoration:none;
    border:none!important;
    color:inherit!important
}
.card-link-content {
    position:relative;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:12px;
    border-radius:inherit;
    background-color: #E6F6F6
}
.card-link-text {
    overflow:hidden
}
.card-link-title {
    display:-webkit-box;
    -webkit-line-clamp:2;
    overflow:hidden;
    text-overflow:ellipsis;
    max-height:calc(16px * 1.25 * 2);
    font-size:16px;
    font-weight:500;
    line-height:1.25;
    color:#1a1a1a
}
.card-link-meta {
    display:flex;
    margin-top:4px;
    font-size:14px;
    line-height:20px;
    color:#999;
    white-space:nowrap
}
.card-link-url {
    display:inline-flex;
    align-items:center;
}
.card-link-imageCell {
    margin-left:8px;
    border-radius:6px
}
.card-link-image {
    display:block;
    width:60px;
    height:60px;
    border-radius:inherit
}
